/*
 * Description: Admin styles for the NRL Imports plugin
 *
 * @author Ken Carlson
*/
/* Loaded in NRL_CommonUtil::enqueue_admin_scripts */

#nrl_optionsform {
    background-color: white;
    padding: 25px;
}

.nrl_settings_group {
    border: 1px solid #ccc; 
    background: #f8f8f8; 
/*    padding: 10px 10px 15px;*/
    padding: 15px;
    margin-bottom: 20px;
}

/*.nrl_settings_group h4 {
    margin-top 0;
}*/

.nrl_settings_group .nrl_label {
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    padding: 20px 10px 5px 0;
/*    float: left;*/
}

.nrl_settings_group .nrl_input {
    
}

.nrl_settings_group input {
    border-color: #888888;
    border-top: #888888;
    border-left:  #888888;
}

.nrl_option_item {
    margin-top: 12px;
}

.nrl_option_item input[type="radio"], input[type="checkbox"] {
    margin-top: 0;
}
.nrl_option_subitem {
    margin-left: 24px;
    display: none;
}

.nrl_option_item input[type=radio]:checked ~ .nrl_option_subitem {
    display: block;
}



.nrl_field_label {
    width: 20%;
    float: left;
}


.nrl_tip {
    display: none;
    color: #006B00;
    padding: 5px;
}

.nrl_error {
    color: red;
}

.nrl_clear {
    clear: both;
}

.nrl_right {
    float: right;
}

.nrl_status {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

.clearfix {
    overflow: auto;
}

.nrl_field_settings div {
    line-spacing: 1.4;
    margin-bottom: 4px;
}

.nrl_field_settings_titles {
/*    margin-left: 64px;       To allow for width of edit button */
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
}

.nrl_field_settings button {
    float: left;
    margin-right: 20px;
    line-spacing: 1.1;
}

.nrl_field_settings div div {
    float: left;
    width: 80px;
    margin-right: 20px;
}

.nrl_field_settings div div.field_setting_wide {
    width: 240px;
}

.nrl_field_settings div .nrl_field_name {
    width: 350px;
}

.nrl_field_settings > div > div:last-child {
/*    float: none;*/
}

/* For map in Settings */

#NRL_CommonAdmin_Map {
    height: 600px;
}

.nrl_admin_left {
    width: 300px;
    float: left;
}

#nrl_poly_form input, #nrl_poly_form select {
    margin-bottom: 12px;
}

#nrl_poly_list {
    cursor: pointer;
}

#nrl_poly_list li:hover {
    background-color: #EEEEEE !important;
}

.nrl_poly_form {
    margin-bottom: 8px;
}

/* Styles for Shortcode Builder */

#nrl_shortcode_builder {
    padding: 12px;
    width: 760px;
}

#nrl_shortcode_builder h4 {
    font-weight:bold;
    font-size:1.2em;
    margin-top: 3px;
    margin-bottom: 9px;
}
#nrl_shortcode_builder h5 {
    font-weight: bold;
    margin: 6px 0 3px 0;
}

#nrl_shortcode_builder input, #nrl_shortcode_builder select {
    margin-bottom: 3px;
}

/* Post Generator */
#nrl_post_generator_container {
    position: relative;
}


/* Styles for the form elements on the Shortcode Builder */

#nrl_shortcode_form .nrl_search_field {
    float: left;
    display: block;
    padding: 0 1.5%;
    width: 30%;  /* 185px; */
    min-height: 58px;
/*    overflow: hidden;*/
}

#nrl_shortcode_form .nrl_search_field input {
    display: block;  /* inline-block; */
    font-size: 13px;
    color: #000000;
    margin-bottom: 4px;
    padding: 4px;

}

#nrl_shortcode_form .nrl_search_field select {
/*    font-size: 13px;*/
    color: #000000;
/*    margin-top: 4px;*/
    margin-bottom: 4px;  /*  was 12px; */
    padding: 4px;
    height: auto;
    min-height: none;
}

#nrl_shortcode_form .nrl_search_field select option {
    font-size: 13px;
    line-height: 1.5;
}    
    
/*#nrl_shortcode_form .nrl_search_field input[type="submit"] {
    margin: 16px auto 8px auto;
    color: #FFFFFF;
}*/

#nrl_shortcode_form .nrl_search_field label {
    display: block;  /* inline-block; */
    width: 100%;
    margin: 0;    
}

.mce-window .mce-container-body.mce-abs-layout.nrl_scb_mce {
    overflow-y: scroll;
    overflow-x: hidden;
}

.nrl_hidden {
    display: none;
}

#nrl_shortcode_form .nrl_search_toggle {
    background-color: #EEE;
    line-height: 1.4;
}


/* For Testing */

.nrl_summary_listing img {
    width: 250px;
    float: left;
    margin-right: 20px;
}

/* *** Post Generator *** */

.nrl_random {
    margin-top: 24px;
    overflow: auto;
}

.nrl_random h3 {
    font-size: 14px;
}

.nrl_random .z-container p {
    margin-top: 0;
}

.nrl_random .nrl_random_names, .nrl_random .nrl_random_content {
/*    background-color: #ddd;*/
    border: solid 1px #BBBBBB;
    padding: 8px;
}

.nrl_random_names {
    float: left;
    width: 25%;
    margin-right: 12px;
}

.nrl_random_content {
    float: left;
    width: 60%;
/*    margin-left: 25%;*/
}

#nrl_random_newname {
    display: none;
}

.nrl_help {
    cursor: pointer;
}

.nrl_tip {
    color: #006B00;
}

.nrl_meta_box ul {
    list-style-type: disc;
    margin-left: 1.78571em;    
}

.nrl_notice {
    margin-top: -15px;
}

.nrl_notice p {
    margin: 5px;
    padding: 10px;
    border: solid 3px blue;
    border-radius: 5px;
/*    background-color: #DDDDDD;*/
    font-weight: bold;
}

#nrl_progress_notice, #nimp_progress_notice, div.nrl_progress_notice {
    position: fixed;
    top: 100px;
    left: 350px;
    padding: 18px;
    border: 2px solid black;
    background-color: #ffffcc;
    display: none;
}

/* Used for Agent Author random text in user profile */
.nrl_form_field * {
  vertical-align: top;
}

/* Used for the Import status */
.nrl_import_status {
    margin-left: 18px;
}

.nrl_success {
    color: green;
}

.nrl_failure {
    color: red;
}

#nrl_setup_details {
    margin-top: 12px;
}

#nimp_tools_status, #nimp_tools_log, .nimp_admin_log {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    min-height: 120px;
}

#nimp_tools_status {
    min-height: 25px;
}

#nimp_tools_log {
    min-height: 60px;
}